body {
    display: flex;
    justify-content: center;
}

.container {
    width: 550px;
    height: 500px;
    border-radius: 3%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 50px;
    padding-left: 65px;
    padding-right: 65px;
    background: #333333;
    display: flex;
    justify-content: center;
}

.img {
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.roll {
    width: 150px;
    height: 50px;
    margin: 75px 75px 0 75px;
    font-size: 16px;
}